<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo QA Suite" verbose="1">

    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Cart and Checkout Tests">
        <classes>
            <class name="tests.CartTest"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="api.UserApiTest"/>
        </classes>
    </test>

    <test name="Cucumber BDD Tests">
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>

</suite>